TZ=America/Argentina/Buenos_Aires

MONGO_HOST=boilerplate-db
MONGO_PORT=27017
MONGO_USER=admin
MONGO_PASS=secret123
MONGO_DB_NAME=boilerplate_db
MONGO_AUTH_SOURCE=admin

ME_BASICAUTH_USERNAME=admin
ME_BASICAUTH_PASSWORD=admin123   

HOST=0.0.0.0
PORT=5050